*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: sans-serif;
}
header{
    width: 75%;
    height: 50px;
    color: white;
    background-color: black;
    margin: 0 auto;
    color: white;
    font-size: 10px;
    margin-top: 50px;
    text-transform: uppercase;
}
.header-a{
    width: 75%;
    height: 50px;
}
.header-a, .nav-a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 15%;
}
.div1-2{
    width: 50%;
    height: 50px;
}
.div1-2, .div2-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
    
}
span{
    font-weight: bold;
}
.point{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: orange;
}
nav{
    width: 75%;
    height: 80px;
    margin: 0 auto;
    text-transform: capitalize;
}
.nav-a{
    width: 80%;
    height: 100px;
}
.div2-1{
    width: 40%;
    height: 100px;
    position: relative;
    right: 5%;
}
.orange{
    width: 120px;
    height: 120px;
    position: relative;
    bottom: 70px;
    left: 4%;
}
main{
    color: white;
    font-weight: bold;
    text-transform: capitalize;
}
.sec1{
    width: 75%;
    height: 500px;
    background-image: url('chaussuren.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.colum{
    width: 55%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    left: 20%;
}
.puma{
    width: 100px;
    height: 100px;
    border-bottom: 2px solid orange;
    color: white;
}
.carre{
    border: 1px solid white;
    padding: 10px;
}
.colum p{
    width: 90%;
}
.sec2{
    width: 75%;
    height: 300px;
    background-color: #eeeeee;
    margin: 0 auto;
}
.sec2-a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    bottom: 20px;
    margin: 0 auto;
}
.sec2-1{
    width: 35%;
    height: 250px;
    background-image: url('montre.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec2-2{
    width: 35%;
    height: 250px;
    background-image: url('chaussure.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
fieldset, .fieldset1, .fieldset2{
    width: 90%;
    height: 200px;
}
@media screen and (max-width:600px){
    .orange{
        display: none;
    }
    header, .header-a{
        width: 100%;
        height: 200px;
        font-size: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    nav, .nav-a{
        width: 100%;
        height: 120px;
    }
    .nav-a{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
      

    }
    .header-a , .nav-a{
        position: relative;
        left: 0px;
    }
    .div1-1 ,.div1-2{
        width: 90%;
        
    }
    
    .div2-2{
        width: 10%;
        height: 100px;
        position: relative;
        bottom: 60px;
    }
    .div2-1{
        width: 80%;
        margin: 0 auto;
       position: relative;
       top: 50px;
    }
    .div1-1, .div1-2, .div2-1, .div2-2{
        
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .sec1{
        width: 100%;
        height: 500px;
    }
    .colum{
        width: 100%;
        position: relative;
        left: 0px;
    }
    .sec2, .sec2-a{
        width: 100%;
        height: 500px;
        position: relative;
       bottom:0px;
    }
    .sec2-1, .sec2-2{
        width: 100%;
        height: 250px;
    }
        .sec2-a, .header-a{
        display: flex;
        flex-direction: column;
    }
   
}
/* @media screen and (min-width:601px) and (max-width:992px){
    .orange{
        display: none;
    }
    .header, .header-a{
        width: 100%;
        height: 100px;
        position: relative;
        background-color: black;
        left: 0px;
        display: flex;
        flex-direction: column;
        justify-content:center ;

    }
    nav{
        width: 100%;
        height: 150px;
    }
    .nav-a{
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
}
    .div2-1{
        width: 90%;
        
    }
    .div2-2{
        width: 15%;
       
        
    }
    .colum{
        width: 90%;
        position: relative;
        left: 0px;
    }
    .div1-1, .div1-2{
        width: 90%;
       margin: 0 auto;
    }
    .div1-1{
        position: relative;
        left: 20%;
    }
   .colum p{
    width: 90%;
    
   }
} */